# Node
node_modules/

# Logs
logs/
*.log

# Env
.env
.env.local
.env.*.local

# OS
Thumbs.db
Desktop.ini

# IDE
.idea/
.vscode/

# Frontend build
/dist/

# Backend build
/build/

# Lock files
package-lock.json
pnpm-lock.yaml
yarn.lock
